<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.sun.media.imageio">
    <resources>
        <resource-root path="jai_imageio-${version}.jar"/>
        <resource-root path="clibwrapper_jiio-${version}.jar"/>
    </resources>

    <dependencies>
        <module name="java.se" export="true"/>
        <module name="java.xml" export="true"/>
        <module name="java.xml.crypto" export="true"/>
        <module name="jdk.xml.dom" export="true"/>
    </dependencies>
</module>
